<footer>
  
  <!-- Seção de Redes Sociais - ícones alinhados horizontalmente -->
  <section *ngIf="show_footer" class="social-section">

    <!-- Mostrar botão SAIR apenas se o usuário estiver logado -->
    <div *ngIf="user" style="text-align: center; margin: 10px 0;">
      <button mat-raised-button color="warn" class="logout-btn" (click)="logout()">
        <span>SAIR</span>
      </button>
    </div>

    <!-- <div style="text-align: center;">
      <a href="https://facebook.com/dentistas.com.br" target="_blank">
        <img src="https://dentistas.com.br/assets/facebook.png" alt="Facebook" width="40" />
      </a>
    </div>

    <div style="text-align: center;">
      <a href="https://www.instagram.com/dentistascombr/" target="_blank">
        <img src="https://dentistas.com.br/assets/instagram.png" alt="Instagram" width="40" />
      </a>
    </div>

    <div style="text-align: center;">
      <a href="https://www.youtube.com/@dentistascombr" target="_blank">
        <img src="https://dentistas.com.br/assets/youtube.png" alt="YouTube" width="40" />
      </a>
    </div> -->

  </section>

  <!-- Exibe informações do usuário logado, se disponível -->
  <div id="usuario_logado" *ngIf="user">	
    Usuário: <b>{{ user.email }} {{ this.configuracoes.is_admin ? ' - ADMIN' : ''}}</b><br>
    {{ambiente}}<br>
    <!-- <span class='transparente'>{{ user.uid }}</span> -->
  </div>

</footer>