<footer>
  <!-- Seção de Redes Sociais - ícones alinhados horizontalmente -->
  <section *ngIf="show_footer" class="social-section">
    <div style="text-align: center;">
      <a href="" (click)="logout()">
        <img src="https://dentistas.com.br/assets/voltar_red.png" alt="Sair" width="40" />
      </a>
      <div class="social-label">Sair</div>
    </div>
    <div style="text-align: center;">
      <a href="https://facebook.com/dentistas.com.br" target="_blank">
        <img src="https://dentistas.com.br/assets/facebook.png" alt="Facebook" width="40" />
      </a>
      <div class="social-label">Facebook</div>
    </div>
    <div style="text-align: center;">
      <a href="https://www.instagram.com/dentistascombr/" target="_blank">
        <img src="https://dentistas.com.br/assets/instagram.png" alt="Instagram" width="40" />
      </a>
      <div class="social-label">Instagram</div>
    </div>
    <div style="text-align: center;">
      <a href="https://www.youtube.com/@dentistascombr" target="_blank">
        <img src="https://dentistas.com.br/assets/youtube.png" alt="YouTube" width="40" />
      </a>
      <div class="social-label">YouTube</div>
    </div>
    <div style="text-align: center;">
      <a href="" target="_blank" (click)="chat_whatsapp()">
        <img src="https://dentistas.com.br/assets/whatsapp-verde.png" alt="AJUDA COM IA" width="40" />
      </a>
      <div class="social-label">Ajuda com IA</div>
    </div>
  </section>

  <!-- Exibe informações do usuário logado, se disponível -->
  <div id="usuario_logado" *ngIf="user">
    {{ambiente}} - {{ user.email }} {{ this.config.is_admin ? ' - ADMIN' : ''}}<br>
    <span class='transparente'>{{ user.uid }}</span>
  </div>
</footer>