<footer>

  <!-- Seção de Redes Sociais -->
  <section *ngIf="show_footer" class="social-section">


    <a href="">
      <img src="https://dentistas.com.br/assets/voltar_red.png" alt="Sair" width="40" (click)="logout()" />
    </a>

    <a href="https://facebook.com/dentistas.com.br" target="_blank">
      <img src="https://dentistas.com.br/assets/facebook.png" alt="Facebook" width="40" />
    </a>

    <a href="https://www.instagram.com/dentistascombr/" target="_blank">
      <img src="https://dentistas.com.br/assets/instagram.png" alt="Instagram" width="40" />
    </a>

    <a href="https://www.youtube.com/@dentistascombr" target="_blank">
      <img src="https://dentistas.com.br/assets/youtube.png" alt="YouTube" width="40" />
    </a>

    <span *ngIf="this.is_admin">
      <a href="./usuarios">
        <img src="https://dentistas.com.br/assets/usuarios_red.png" alt="Usuários" width="40" />
      </a>
      
      <a href="./fichas">
        <img src="https://dentistas.com.br/assets/config_red.png?v=2" alt="Configuração" width="40" />
      </a>
    </span>

  </section>

  <!-- Exibe informações do usuário logado, se disponível -->
  <div id="usuario_logado" *ngIf="user">
    &copy; 2024&nbsp; Dentistas.com.br &nbsp;4.01 - {{ user.displayName || 'Usuário' }} ({{ user.email }})
  </div>


</footer>