<div class="container container_principal">
  <div class="{{isEditing ? 'sticky-header edit-mode' : 'sticky-header view-mode'}}">
    <!-- HEADER -->
    <!-- <div class="sticky-header view-mode"> -->

    <div class="header">
      <div class="actions">
        <img *ngIf="!isEditing" src="https://dentistas.com.br/assets/voltar.png" class="navegacao" (click)="voltar()">
        <img *ngIf="isEditing" src="https://dentistas.com.br/assets/voltar_red.png" class="navegacao"
          (click)="voltar()">
      </div>
      <h1 *ngIf="!isEditing" class="title view-mode">Meu Perfil</h1>
      <h1 *ngIf="isEditing" class="title edit-mode">Meu Perfil</h1>
      <div class="actions">
        <img *ngIf="isEditing" src="https://dentistas.com.br/assets/salvar_red.png" class="navegacao"
          (click)="salvar()">
        <img *ngIf="!isEditing" src="https://dentistas.com.br/assets/editar.png" class="navegacao" (click)="editar()">
      </div>
    </div>
    <!-- /HEADER -->
  </div>

  <div class="content">
    <div *ngIf="isLoading" class="loading-container">
      <!-- <p class="aviso">Carregando dados do perfil...</p> -->
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="!isLoading && !errorMessage" class="profile-container" [style.--label-width]="customLabelWidth">
      <!-- Form direto no template -->
      <form [formGroup]="profileForm" (ngSubmit)="salvar()">

        <!-- Informações Pessoais -->
        <div class="form-section">
          <h4 class="{{isEditing ? 'section-title edit-mode' : 'section-title view-mode'}}">Informações Pessoais</h4>

          <!-- Nome -->
          <div class="form-field">
            <label for="nome" [ngClass]="setClass('detail-label')">Nome Completo:</label>
            <input type="text" id="nome" formControlName="nome"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
              [attr.disabled]="!isEditing ? '' : null">
          </div>

          <!-- Username -->
          <div class="form-field">
            <label for="username" [ngClass]="setClass('detail-label')">Nome de Usuário:</label>
            <div class="field-with-error">
              <input type="text" id="username" formControlName="username"
                class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
                [attr.disabled]="!isEditing ? '' : null" (blur)="checkUsername()">
              <div *ngIf="usernameError" class="validation-message">{{ usernameError }}</div>
            </div>
          </div>

          <!-- Email -->
          <div class="form-field">
            <label for="email" [ngClass]="setClass('detail-label')">Email:</label>
            <input type="email" id="email" formControlName="email"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}" [disabled]="true">
          </div>

          <!-- Telefone -->
          <div class="form-field">
            <label for="telefone" [ngClass]="setClass('detail-label')">Telefone:</label>
            <input type="tel" id="telefone" formControlName="telefone"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
              [attr.disabled]="!isEditing ? '' : null">
          </div>
        </div>

        <!-- Endereço -->
        <div class="form-section">
          <h4 class="{{isEditing ? 'section-title edit-mode' : 'section-title view-mode'}}">Endereço</h4>

          <!-- Endereço -->
          <div class="form-field">
            <label for="endereco" [ngClass]="setClass('detail-label')">Endereço:</label>
            <input type="text" id="endereco" formControlName="endereco"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
              [attr.disabled]="!isEditing ? '' : null">
          </div>

          <!-- Cidade -->
          <div class="form-field">
            <label for="cidade" [ngClass]="setClass('detail-label')">Cidade:</label>
            <input type="text" id="cidade" formControlName="cidade"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
              [attr.disabled]="!isEditing ? '' : null">
          </div>

          <!-- Estado -->
          <div class="form-field">
            <label for="estado" [ngClass]="setClass('detail-label')">Estado:</label>
            <input type="text" id="estado" formControlName="estado"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
              [attr.disabled]="!isEditing ? '' : null">
          </div>

          <!-- CEP -->
          <div class="form-field">
            <label for="cep" [ngClass]="setClass('detail-label')">CEP:</label>
            <input type="text" id="cep" formControlName="cep"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
              [attr.disabled]="!isEditing ? '' : null">
          </div>
        </div>

        <!-- Informações Profissionais -->
        <div class="form-section">
          <h4 class="{{isEditing ? 'section-title edit-mode' : 'section-title view-mode'}}">Informações Profissionais
          </h4>

          <!-- CRO -->
          <div class="form-field">
            <label for="cro" [ngClass]="setClass('detail-label')">CRO:</label>
            <input type="text" id="cro" formControlName="cro"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
              [attr.disabled]="!isEditing ? '' : null">
          </div>

          <!-- Especialidades -->
          <div class="form-field">
            <label for="especialidade" [ngClass]="setClass('detail-label')">Especialidades:</label>
            <input type="text" id="especialidade" formControlName="especialidade"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}"
              [attr.disabled]="!isEditing ? '' : null">
          </div>

          <!-- Bio -->
          <div class="form-field">
            <label for="bio" [ngClass]="setClass('detail-label')">Biografia:</label>
            <textarea id="bio" formControlName="bio"
              class="{{isEditing ? 'detail-value edit-mode' : 'detail-value view-mode'}}" rows="4"
              [attr.disabled]="!isEditing ? '' : null"></textarea>
          </div>
        </div>