<div class="container">
  <div class="header">
    <div class="actions">
      <img src="https://dentistas.com.br/assets/voltar_red.png" class="navegacao" (click)="voltar()">
    </div>
    <h1 class="title">{{ titulo_da_pagina }}</h1>
    <div class="actions">
      <img src="https://dentistas.com.br/assets/salvar_red.png" class="navegacao" (click)="salvar()">
    </div>
  </div>

  <div class="record-header">
    {{ subtitulo_da_pagina }}
  </div>


  <!-- Formulário Dinâmico -->
  <div class="dynamic-form-container" *ngIf="this.FormService.fichaForm">

    <div *ngIf="FormService.isLoading" class="aviso">
      Carregando dados da ficha...
    </div>


    <form *ngIf="FormService.fichaForm && !FormService.isLoading" [formGroup]="FormService.fichaForm"
      class="record-details">
      <div *ngFor="let campo of FormService.campos" class="detail-container">
        <label [for]="campo.nome" class="detail-label">{{ campo.label }}</label>
    
        <!-- Input para tipos normais  -->
        <input [type]="campo.tipo" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value"
          *ngIf="campo.tipo !== 'file' && campo.tipo !== 'image' && campo.tipo !== 'url'"
          (change)="FormService.onFieldChange($event, campo.nome)">
      </div>
    </form>

  </div>
</div>