<!-- <div class="container" *ngIf="loggedInUser && !username"> -->
<div class="container container_principal" *ngIf="!username">


    <!-- Header com título e botões de ação -->
    <div class="header">
        <div class="actions">
            <img src="https://dentistas.com.br/assets/voltar.png" class="navegacao"
                (click)="this.utilService.voltar()" />
        </div>

        <h2 class="view-mode">Configuração da Homepage</h2>

        <div class="actions">
            <img src="https://dentistas.com.br/assets/vazio.png" class="navegacao_direita" />
        </div>

    </div>

    <!-- Bloco de dados pessoais -->
    <div class="record-header" >
        {{ this.username || 'Nome do Usuário' }}
    </div>


        <div *ngIf="!username">

    <!-- Bloco de dados pessoais -->
    <p>
        Para configurar sua homepage profissional, 
    </p>
    <p>
        acesse seu "Perfil" na tela inicial.
    </p>
        </div>


    <div *ngIf="username">

        <!-- Botão para abrir a homepage pública -->
        <button (click)="openHomepage()" class="open-homepage-btn">
            Abrir Homepage em uma Nova Janela
        </button>

    </div>



</div>