@import '../../styles.scss';

h1 {
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    padding: 10px 10px;
    padding-top: 79px;
    margin: 0px 0px 5px 0px;
}

h2 {
    margin: 30px 0px 16px 0px;
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary-color;
    text-align: left;
    padding: 0 10px;
    background-color: $background-cinza;
}

h3 {
    margin: 0px;
    font-size: 1rem;
    font-weight: bold;
    color: $primary-color-dark;
    text-align: center;
    padding: 0px;
    background-color: $background-cinza;
    margin-bottom: 0px;
}

p {
    font-size: 1.1rem;
    color: $text-color;
    line-height: 1.6;
    text-align: left;
    background-color: $white;
    font-weight: 500;
}


.profile-header {
    margin: 0 20px;
    text-align: center;
    background-color: $background-cinza;
    /* Fundo claro */
    padding-bottom: 20px;

    .header-bg {
        position: relative;

        .profile-photo {
            width: 150px;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid #fff;
            position: absolute;
            top: -75px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .header-overlay {
        margin-top: 100px;

        .specialty {
            font-size: 1.3rem;
            color: #777;
            margin-top: 5px;
        }
    }
}

.profile-info {
    padding: 0px 20px;
    text-align: left;
    background-color: $white;
    /* Cor de fundo clara para destaque */

}

.contact-section {
    margin-top: 30px;
    text-align: center;

    .contact-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;

        .contact-btn {
            background-color: $primary-color;
            color: white;
            padding: 12px 25px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);

            &:hover {
                background-color: #0056b3;
                box-shadow: 0 6px 8px rgba(0, 86, 179, 0.3);
            }
        }
    }
}

.social-media {
    margin-top: 30px;
    text-align: center;

    padding: 0px 20px;
    background-color: #ffffff;

    img {
        margin: 0 20px;
    }
}

.qr-code {
    margin-top: 20px;
    text-align: center;

    img {
        display: inline-block;
        margin: 10px auto;
        width: 200px;
        border: 7px solid #000;
        border-radius: 20px;
        padding: 0px;
        background-color: #fff;
    }

    p {
        margin-top: 10px;
        font-size: 14px;
        color: #555;
    }
}

.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #aaa;
}