@import '../../styles.scss';


h1,
h2,
.title {
    font-weight: bold;
    text-align: left;

    &.view-mode {
        color: $primary-color; // Azul no modo de visualização
    }

    &.edit-mode {
        color: $red-dark; // Vermelho no modo de edição
    }
}

// Header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    .title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        flex-grow: 1;

        &.view-mode {
            color: $primary-color; // Azul no modo de visualização
        }

        &.edit-mode {
            color: $red-dark; // Vermelho no modo de edição
        }
    }

    .navegacao {
        cursor: pointer;
    }
}

// Linha com o nome do registro
.record-header {
    text-align: center;
    margin-bottom: 20px;
    padding: 2px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;

    &.view-mode {
        background-color: $primary-color; // Azul no modo de visualização
        color: $white;
    }

    &.edit-mode {
        background-color: $red-dark; // Vermelho no modo de edição
        color: $white;
    }
}

// Detalhes do registro
.record-details {
    padding: 20px;
    border-radius: 10px;

    &.view-mode {
        background-color: $white;
        box-shadow: none; // Sem sombra no modo de visualização
    }

    &.edit-mode {
        background-color: $white; // Fundo branco no modo de edição
        box-shadow: $box-shadow; // Sombra ativada
    }

    .detail-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid; // Dinâmico para os modos

        &.view-mode {
            border-bottom-color: $primary-color-light; // Azul claro no modo de visualização
        }

        &.edit-mode {
            border-bottom-color: $red-light; // Vermelho claro no modo de edição
        }

        &:last-child {
            border-bottom: none;
        }

        .detail-label {
            width: 200px;
            font-size: 14px;
            text-align: left;

            &.view-mode {
                color: $primary-color-dark; // Azul escuro no modo de visualização
            }

            &.edit-mode {
                color: $red-dark; // Vermelho escuro no modo de edição
            }
        }

        .detail-value {
            width: 100%;
            padding: 8px;
            border-radius: 5px;

            &.view-mode {
                background-color: $white;
                border: 0; // Borda azul no modo de visualização
                color: $primary-color-dark; // Texto azul no modo de visualização
                cursor: not-allowed; // Não editável
            }

            &.edit-mode {
                background-color: $white;
                border: 1px solid $red-dark; // Borda vermelha no modo de edição
                color: $red-dark; // Texto vermelho no modo de edição
            }
        }
    }
}

// Botões de ação do formulário
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .btn {
        background-color: $primary-color;
        color: $white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: $primary-hover;
        }
    }

    .btn-secondary {
        background-color: $gray;
        color: $white;

        &:hover {
            background-color: darken($gray, 10%);
        }
    }
}

// Transições suaves
.record-details,
.detail-container,
.detail-label,
.detail-value,
.record-header {
    transition: all 0.3s ease;
}