# Configuração da API OpenAI
OPENAI_API_KEY='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'