<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Exceções para arquivos físicos (ex: imagens, CSS, JS)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redireciona tudo para o index.html
  RewriteRule . /index.html [L]
</IfModule>
