@import '../../styles.scss';

.menu {
  max-width: $max-width;
  margin: auto;
  margin-top: 20px;


  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;

    a,
    button {
      color: $text-color;
      text-decoration: none;
      font-size: small;
      font-weight: 700;
      /* Definindo bold */
      padding: 0.75rem 1.5rem;
      border-radius: 4px;
      transition: background-color 0.3s, box-shadow 0.3s;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        /* Efeito de hover */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        /* Sombra leve ao passar o mouse */
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.2);
        /* Estado ativo */
      }
    }

    button {
      background: none;
      border: none;
    }
  }
}

/* Responsividade para telas menores */
@media (max-width: 549px) {
  .menu {
    ul {
      flex-direction: column;
      align-items: flex-start;
    }

    li {
      width: 100%;

      a,
      button {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0.75rem 1rem;
      }
    }
  }
}