<div class="chatbot-container" [class.minimized]="isMinimized" [class.fullscreen]="isFullscreen">
  <div class="chat-header" (click)="isMinimized ? toggleChat() : null">
    <i *ngIf="isMinimized" class="fa-solid fa-robot fa-xl" ></i>

    <button class="toggle-fullscreen-btn" *ngIf="!isMinimized" (click)="toggleFullscreen(); $event.stopPropagation()">
      <i class="material-icons">{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</i>
    </button>
    <span class="chatbot-title" *ngIf="!isMinimized">Assistente Virtual de I.A.</span>
    <button class="close-btn" *ngIf="!isMinimized" (click)="toggleChat(); $event.stopPropagation()">
      <i class="material-icons">close</i>
    </button>
  </div>

  <div class="chat-body" *ngIf="!isMinimized">
    <div class="chat-messages">
      <div *ngFor="let message of messages" class="message" [ngClass]="message.sender">
        <div class="message-content">{{ message.content }}</div>
        <div class="message-time">{{ message.timestamp | date:'shortTime' }}</div>
      </div>
      <div *ngIf="isBotTyping" class="message bot typing">
        <div class="typing-indicator">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <div class="chat-input-container">
      <input type="text" class="chat-input" placeholder="Digite sua mensagem..." [(ngModel)]="userInput"
        (keyup.enter)="sendMessage()">
      <button class="send-btn" (click)="sendMessage()">
        <i class="material-icons">send</i>
      </button>
    </div>
  </div>
</div>