<!-- <div class="main-container"> -->
  <!-- <div class="content-container"> -->

    <main>
      <!-- Container de chat -->
      <div id="chat-container" class="container" style="display: block;">
        <!-- <h3>Chatbot Inteligente de Atendimento</h3> -->
        <div id="chat-log" class="chat-log">
          Olá! <br>
          Sou um chatbot assistente de I.A. <br>
          O que deseja ou procura?
        </div>
        <div class="chat-input-container">
          <textarea id="user-input" placeholder="Digite sua mensagem..." autofocus rows="3"></textarea>
          <div class="button-container">
            <button onclick="sendMessage()" class="btn-primary">Conversar</button>
          </div>
        </div>
      </div>
    </main>
<!-- 
  </div>
</div> -->
