<div class="profile-card redes-card">
  <div class="card-header">
    <h3>Redes Sociais</h3>
  </div>

  <div class="card-body">

    <!-- Indicador de carregamento -->
    <!-- <div class="loading-message">
      <i class="fas fa-spinner fa-spin"></i>
      <span>Carregando redes sociais...</span>
    </div> -->

    <!-- Conteúdo quando dados estiverem carregados -->
    <div  class="redes-lista">

      <!-- Instagram -->
      <div *ngIf="userService.userProfile.instagram" class="rede-item instagram" (click)="navigateToInstagram()">
        <i class="fab fa-instagram"></i>
        <span> Instagram</span>
      </div>

      <!-- Facebook -->
      <div *ngIf="userService.userProfile.facebook" class="rede-item facebook" (click)="navigateToFacebook()">
        <i class="fab fa-facebook-f"></i>
        <span> Facebook</span>
      </div>

      <!-- LinkedIn -->
      <div *ngIf="userService.userProfile.linkedin" class="rede-item linkedin" (click)="navigateToLinkedin()">
        <i class="fab fa-linkedin-in"></i>
        <span> LinkedIn</span>
      </div>

      <!-- YouTube -->
      <div *ngIf="userService.userProfile.youtube" class="rede-item youtube" (click)="navigateToYoutube()">
        <i class="fab fa-youtube"></i>
        <span> YouTube</span>
      </div>

      <!-- Twitter -->
      <div *ngIf="userService.userProfile.twitter" class="rede-item twitter" (click)="navigateToTwitter()">
        <i class="fab fa-twitter"></i>
        <span> Twitter</span>
      </div>

      <!-- TikTok -->
      <div *ngIf="userService.userProfile.tiktok" class="rede-item tiktok" (click)="navigateToTiktok()">
        <i class="fab fa-tiktok"></i>
        <span> TikTok</span>
      </div>

      <!-- Pinterest -->
      <div *ngIf="userService.userProfile.pinterest" class="rede-item pinterest" (click)="navigateToPinterest()">
        <i class="fab fa-pinterest-p"></i>
        <span> Pinterest</span>
      </div>

    </div>

  </div>
</div>