<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="email" required #emailInput="ngModel" />
      <mat-error *ngIf="emailInput.invalid && emailInput.touched">
        O email é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" name="password" [(ngModel)]="password"
        required #passwordInput="ngModel" />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">
        A senha é obrigatória.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Entrar
    </button>
  </form>

  <a routerLink="/reset-password" class="forgot-password-link">Esqueci minha senha</a>
  
  <div class="novaconta">
Não tem conta? Informe seu email e uma senha.
  </div>
</div>