<div class="container container_principal">

	<div class="header">
		<div class="actions">
			<img src="https://dentistas.com.br/assets/voltar.png" class="navegacao" (click)="util.goHome()">
		</div>
		<h1 class="title">Erupções Dentárias do Mês</h1>
		<div class="actions">
			<!-- <img src="https://dentistas.com.br/assets/editar.png" class="navegacao" (click)="editar()"> -->
			<img src="https://dentistas.com.br/assets/vazio.png" class="navegacao">
		</div>
	</div>

	<!-- PARA TODOS USUARIOS -->
	<div class="container">


		<div class="record-details">
			<button (click)="verificarErupcoes()">Verificar Erupções</button>
			<table>
				<thead>
					<tr>
						<th>#</th> <!-- Coluna para o número da linha -->
						<th style="text-align: left;">Nome</th>
						<th style="text-align: left;">Nascimento</th>
						<th style="text-align: left;">Meses</th>
						<th style="text-align: left;">Erupcionando</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let paciente of pacientesComErupcao; index as i">
						<td>{{ i + 1 }}</td> <!-- Exibe o número da linha -->
						<td style="text-align: left;">{{ paciente.nome }}</td>
						<td style="text-align: left;">{{ paciente.nascimento }}</td>
							<td style="text-align: left;">{{ paciente.meses }}</td>
						<td style="text-align: left;">{{ paciente.dentesNaoNascidos.join(', ') }}</td>
						<!-- Exibe os dentes não erupcionados -->
					</tr>
				</tbody>
			</table>
		</div>


		<div class="espacador_vertical_duplo"></div>
		<!-- Exibe mensagem se nenhum paciente tiver dentes erupcionando neste mês -->
		<div *ngIf="pacientesComErupcao.length === 0" class="aviso">
			<p>Nenhum paciente tem dentes erupcionando este mês.</p>
		</div>
	</div>


</div>