<h1 mat-dialog-title>Cadastro de Novo Usuário</h1>
<div mat-dialog-content>
    <p>O email <strong>{{ data.email }}</strong> não está registrado.</p>
    <p>Deseja criar uma conta?</p>
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="name" required>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary" [disabled]="!name" (click)="onConfirm()">Confirmar</button>
</div>