@import '../styles.scss';

// Variáveis de cores
// $text-color: #2f5489;


// Estilo Geral
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    color: $text-color;
    width: 100%;
    max-width: $max-width;
    text-align: center;
    // background-color: #839DAC;
  }

// Estilos gerais do container
.container {
  margin: 40px auto;
  margin-top: 60px;

  padding-top: 40px;
  padding-bottom: 20px;
  max-width: $max-width;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: $box-shadow;
}
