<div class="container">
    <div class="header">
        <div class="actions">
            <img src="https://dentistas.com.br/assets/voltar.png" class="navegacao" (click)="util.goHome()">
        </div>
        <h1 class="title">Configurar Menu das Fichas</h1>
        <div class="actions">
            <img src="https://dentistas.com.br/assets/salvar.png" class="navegacao" (click)="salvarConfiguracoes()">
        </div>
    </div>

    <div class="container" style="display: flex; gap: 40px; padding: 20px 40px;">

        <!-- Coluna 1 -->
        <div style="flex: 1;">
            <!-- Selecionar a Coleção Principal com Botões -->
            <div class="colecao-buttons" style="display: flex; flex-direction: column; gap: 10px;">
                <button *ngFor="let colecao of colecoesDisponiveis" (click)="selecionarColecao(colecao)"
                    [class.selected]="colecao === colecaoSelecionada">
                    {{ colecao }}
                </button>
            </div>
        </div>

        <!-- Coluna 2 -->
        <div style="flex: 1;">
            <!-- Listagem de Subcoleções com Checkbox -->
            <div class="subcolecoes-list">
                <div *ngFor="let subcolecao of subcolecoesDisponiveis">
                    <input type="checkbox" [(ngModel)]="subcolecao.selecionado" />
                    <label>{{ subcolecao.nome }}</label>
                </div>
            </div>
        </div>

    </div>


</div>