@import '../../styles.scss';

.record-details .detail-container .detail-value {
    background: white;
}

.detail-value {
    width: 100%;
    /* Ocupará 100% da largura disponível */
    box-sizing: border-box;
    /* Inclui o padding e border dentro da largura */
}