@import '../../styles.scss';

input {
  border: 0;
  margin-bottom: 0px;
}

.record-details {
    margin-top: 16px;
    padding-top: 16px;
} 

.record-details-top {
  border-bottom: 1px solid $primary-color;
  height: 2px;
}

.detail-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-label {
  flex: 0 0 var(--label-width);
  /* opcional: adicione padding/margem se desejar separar do conteúdo */
  padding-right: 5px;
}

.detail-value {
  flex: 1;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  /* alinha todos os filhos ao centro verticalmente */
  gap: 10px;
  /* espaço entre slider e texto */

  /* Caso o texto esteja "baixo" em relação ao knob do slider, você pode:
     1) aumentar o line-height do texto
     2) ajustar a font-size ou 
     3) usar um pequeno transform para subir o texto */

  .small {
    line-height: 1.2;
    /* ou */
    /* transform: translateY(-1px); */
  }
}

.record-details .detail-container .detail-value,
.dynamic-form-container .detail-container .detail-value {
  border: 0px;
}

.sticky-slider {
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 10px 0;
  margin-bottom: 4px;
  background-color: unset;
  margin-left: 0px;
}

.record-details .detail-container {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;

  .detail-label {
    width: var(--label-width);
    flex-shrink: 0;
    padding-right: 10px;
  }

  .detail-value {
    flex-grow: 1;

    &[readonly] {
      color: $primary-color;
      font-size: 16px;
      font-weight: 600;
      padding: 7px 10px 7px 10px;
    }
  }
}

.full-width-container {
  width: 100%;
}

// Novo estilo para o container do slider
.width-control {
  display: inline-block;
  border: 1px solid $primary-color; // Borda de 1px
  border-radius: 6px; // Border-radius de 6px
  background-color: #fff; // Fundo branco opaco
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 3px;
  padding-right: 12px;
  padding-left: 0px;
}


// Estilo para o título dos grupos
.grupo-titulo {
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;

  margin-bottom: 15px;
  margin-top: 15px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;

  background-color: $primary-color;
  color: #fff;
  // border-bottom: 2px solid $primary-color;

}

// Add this CSS for styling the subgroup titles

.subgrupo-titulo {
  font-size: 0.85em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: left;
  color: #2A7AC3;
  background-color: #daecff;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  border: 1px solid $primary-color;
}

textarea {
  color: $primary-color;
  font-size: 16px;

}

.record-details .detail-container {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  background: aliceblue;
  border: 1px solid $primary-color;
  border-top: 0px;

  .detail-label {
    padding-left: 10px;
  }

  .detail-value {
    margin: 5px;
    border: 1px solid $primary-color;
    background: white;
  }

  textarea,
  input {
    box-shadow: unset;
  }
}