@import '../../styles.scss';

input {
  border: 0;
}

.detail-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-label {
  flex: 0 0 var(--label-width);
  /* opcional: adicione padding/margem se desejar separar do conteúdo */
  padding-right: 5px;
}

.detail-value {
  flex: 1;
}

.slider-wrapper {
  display: flex;
  align-items: center; /* alinha todos os filhos ao centro verticalmente */
  gap: 10px; /* espaço entre slider e texto */

  /* Caso o texto esteja "baixo" em relação ao knob do slider, você pode:
     1) aumentar o line-height do texto
     2) ajustar a font-size ou 
     3) usar um pequeno transform para subir o texto */

  .small {
    line-height: 1.2; 
    /* ou */
    /* transform: translateY(-1px); */
  }
}

.record-details .detail-container .detail-value, .dynamic-form-container .detail-container .detail-value {
  border: 0px;
}

.sticky-slider {
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 10px 0;
  // box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  background-color: unset;
  margin-left: 0px;
} 

.grupo-titulo {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 15px 0 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

.record-details {
  --label-width: 300px; // Valor padrão
  
  .detail-container {
    display: flex;
    margin-bottom: 0px;
    
    .detail-label {
      width: var(--label-width);
      flex-shrink: 0;
      padding-right: 10px;
    }
    
    .detail-value {
      flex-grow: 1;
      
      &[readonly] {
        background-color: #f9f9f9;
        color: #333;
      }
    }
  }
}

.full-width-container {
  width: 100%;
}

// Novo estilo para o container do slider
.width-control {
  display: inline-block;
  border: 1px solid $primary-color;       // Borda de 1px
  border-radius: 6px;           // Border-radius de 6px
  background-color: #fff;       // Fundo branco opaco
  padding: 6px;                // Padding de 10px
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

}