<div class="container">

  <!-- HEADER -->
  <div class="header">
    <div class="left">
      <img src="https://dentistas.com.br/assets/voltar.png" class="navegacao" (click)="voltar()">
      <img src="https://dentistas.com.br/assets/home.png" class="navegacao" (click)="util.goHome()">
    </div>
    <h1 class="title">{{ titulo_da_pagina }}</h1>
    <div class="right">
      <img src="https://dentistas.com.br/assets/editar.png" class="navegacao_direita" (click)="editar()">
      <img src="https://dentistas.com.br/assets/lixo.png" class="navegacao_direita" (click)="excluir()">
    </div>
  </div>

  <div class="record-header">
    {{ subtitulo_da_pagina }}
  </div>
  <!-- HEADER / -->

  <!-- Botões das fichas internas -->
  <div *ngIf="mostrar_menu">
<app-menu [subcolecoes]="[
    { nome: 'Exames', rota: 'exames' },
    { nome: 'Atendimentos', rota: 'atendimentos' },
    { nome: 'Erupções', rota: '/erupcoes' },
    { nome: 'Risco de Cárie', rota: '/riscodecarie' },
    { nome: 'Retornos', rota: '/retornos' },
    { nome: 'Histórico', rota: '/historicozap' },
  ]" [colecao]="collection" [id]="id">
</app-menu>


  </div>

  <!-- Botões das fichas internas -->
  <!-- <div *ngIf="mostrar_menu">
    <div class="menu">
      <button class="menu-button" (click)="listarSubcollection('planos')">Planos</button>
      <button class="menu-button" (click)="listarSubcollection('pagamentos')">Pagamentos</button>
      <button class="menu-button" (click)="listarSubcollection('exames')">Exames</button>
      <button class="menu-button" (click)="listarSubcollection('atendimentos')">Atendimentos</button>

      <button class="menu-button" (click)="listarSubcollection('erupcoes')">Erupções</button>
      <button class="menu-button" (click)="listarSubcollection('riscodecarie')">Risco de Cárie</button>
      <button class="menu-button" (click)="listarSubcollection('retornos')">Retornos</button>
      <button class="menu-button" (click)="listarSubcollection('historicozap')">Histórico</button>
    </div>
  </div> -->
  
  <!-- Detalhes -->
  <div class="dynamic-form-container" *ngIf="this.FormService.fichaForm">

    <div *ngIf="FormService.isLoading" class="aviso">
      Carregando dados da ficha...
    </div>


    <form *ngIf="!FormService.isLoading" [formGroup]="FormService.fichaForm" class="record-details">

      <div *ngFor="let campo of FormService.campos">

        <!-- Verifica se o campo está preenchido antes de exibir -->
        <div *ngIf="FormService.registro[campo.nome] && FormService.registro[campo.nome].length > 0"
          class="detail-container">

          <label [for]="campo.nome" class="detail-label">{{ campo.label }}</label>

          <!-- Input para tipos normais -->
          <input [type]="campo.tipo" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value"
            *ngIf="campo.tipo !== 'file' && campo.tipo !== 'image' && campo.tipo !== 'url' && campo.tipo !== 'textarea'">

          <!-- Input para URL -->
          <input type="url" [formControlName]="campo.nome" [id]="campo.nome" class="url" *ngIf="campo.tipo === 'url'"
            placeholder="Cole aqui o link do arquivo">

          <!-- Textarea para campos longos -->
          <textarea [formControlName]="campo.nome" [id]="campo.nome" class="detail-value"
            *ngIf="campo.tipo === 'textarea'" rows="3" placeholder="Digite o conteúdo"></textarea>

        </div>

      </div>
    </form>
  </div>




</div>