@import '../../styles.scss';


// Header com título 
.header {
  .title {
    color: $red-dark;
  }
}

// Linha com o nome do registro
.record-header {
  background-color: $red-dark;
  color: $white;

}

// Estilos dos detalhes do registro
.record-details,
.dynamic-form-container {

  .detail-container {
    border-bottom: 1px solid $red-light;


    .detail-label {
      color: $red_dark;

    }

    .detail-value {
      color: $red-dark;
      border: 1px solid $red-dark;
    }

    input,
    select {

      border: 1px solid $red-light;
      font-size: 14px;
    }

    input:focus,
    select:focus {
      outline: 1px;
      border-color: $red-dark;
    }

    textarea {

      &:focus {
        background-color: #ffdcb6;
        /* Cor de fundo ao focar */
        outline: none;
        /* Remove o outline padrão ao focar */
        color: $red-dark;
        border: 1pt solid $red;
        font-weight: bold;
      }
    }

    .url {
      color: #a80000;
      background-color: white;
      border: 1pt solid #a80000;
      text-align: left;

      &:focus {
        background-color: #ffdcb6;
        /* Cor de fundo ao focar */
        outline: none;
        /* Remove o outline padrão ao focar */
        color: $red-dark;
        border: 1pt solid $red;
        font-weight: bold;
      }


    }


    // Botões de ação do formulário
    .form-actions {

      .btn {
        background-color: $primary-color;
        color: $white;

        &:hover {
          background-color: $primary-hover;
        }
      }

    }


    .detail-value {
      width: 100%;
      /* Ocupará 100% da largura disponível */
      box-sizing: border-box;
      /* Inclui o padding e border dentro da largura */
    }




    input {
      background-color: #fff;

      &:focus {
        background-color: #ffdcb6;
        /* Cor de fundo ao focar */
        outline: none;
        /* Remove o outline padrão ao focar */
        border-color: #ff7373;
        /* Cor da borda ao focar */
      }
    }
  }
}