/* You can add global styles to this file, and also import other style files */

// ====================================
// Variáveis de cores
// ====================================

$white: #ffffff;
$white-color: #ffffff;
$gray: #bdbdbd;
$light-grey: #eee;
$red: #ff0000;
$red-color: #a80000;
$red-dark: #a80000;
$red-light: #ffdfdf;
$primary-color: #2A7AC3;
$primary-color-light: #ddf5ff;
$primary-color-dark: #153d75;

$primary-hover: $primary-color-dark;
$secondary-color: #0d9113;
$secondary-color-light: #ddffde;
$secondary-color-dark: #105d14;

$text-color: $primary-color;
$text-color-dark: $primary-color-dark;
$text-color-claro: white;
$error-color: #f44336;
$hover-error-color: #a80000;
$input-border-color: #bbb;
$input-focus-color: rgba(33, 150, 243, 0.5);
$background-color: white;
$background-cinza: #e6e6e6;
$shadow-color: rgba(0, 0, 0, 0.4);
$box-shadow: 0px 0px 6px $shadow-color;

$tr_even_rows: #E9F1FB;
$tr_odd_rows: #D6E6FC;

$font-family: "Roboto", sans-serif;
$font-size: 11px;
$max-width: 800px;
// ====================================

body {
    font-family: $font-family;
    font-size: $font-size;
    padding-top: 0.8rem;
    background-color: #839DAC;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: $text-color-dark;
}

.box {
    border-radius: 10px;
    box-shadow: 0px 0px 6px $shadow-color;
    // margin-top: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    /* Centraliza o container */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 6px $shadow-color;
    padding: 8px 20px 20px 20px;
}

.navegacao {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.center {
    text-align: center;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}