

<div class="container">

  <div id="container_home" class="container container_home_logo">
    <img id="top_logo" src="https://dentistas.com.br/assets/Dentistascombr_com_IA.png" alt="Dentistas.com.br" />
  </div>
  
  <!-- Coluna 1: Conteúdo principal -->
  <div class="column column-left">

    <app-chatbot></app-chatbot>

    <section class="chatbots-section">
      Chatbots de Inteligência Artificial<br>

      <section class="pills-section">
        <div class="pill-group">

          <a class="pill" href="https://dentistas.com.br/tutfop" target="_blank" rel="noopener">
            <span>Tutor - Casos clínicos</span>
          </a>

          <a class="pill" href="https://dentistas.com.br/tutfop" target="_blank" rel="noopener">
            <span>Prescrição de medicamentos</span>
          </a>

          <a class="pill" href="https://dentistas.com.br/tutfop" target="_blank" rel="noopener">
            <span>Pós-Atendimento</span>
          </a>

          <a class="pill" href="https://dentistas.com.br/tutfop" target="_blank" rel="noopener">
            <span>Apostila + Slides + Prova</span>
          </a>

        </div>
      </section>
    </section>   
  </div>

  <!-- Coluna 2 -->
  <div class="column column-right">

    <!-- Novo container para os ícones -->
    <section class="services-section icon-grid">
      
      <div class="icon-item" (click)="go('pacientes')">
        <img src="https://dentistas.com.br/assets/pacientes.png" alt="Pacientes">
        <p>PACIENTES</p>
      </div>
      
      <div class="icon-item" (click)="go('usuarios')">
        <img src="https://dentistas.com.br/assets/usuarios.png" alt="Usuários">
        <p>USUÁRIOS</p>
      </div>
      
      <div class="icon-item" (click)="go('equipe')">
        <img src="https://dentistas.com.br/assets/equipe.png" alt="Equipe">
        <p>EQUIPE</p>
      </div>

      <div class="icon-item" (click)="go('indicador')">
        <img src="https://dentistas.com.br/assets/fornecedores.png" alt="Dentais">
        <p>DENTAIS</p>
      </div>
      
      <div class="icon-item" (click)="go('fornecedores')">
        <img src="https://dentistas.com.br/assets/fornecedores.png" alt="Fornecedores">
        <p>FORNECEDORES</p>
      </div>
      
      <div class="icon-item" (click)="go('indicador')">
        <img src="https://dentistas.com.br/assets/indicador.png" alt="Indicador">
        <p>INDICADOR</p>
      </div>

      <div class="icon-item" (click)="go('usuarios')">
        <img src="https://dentistas.com.br/assets/historico.png" alt="Usuários">
        <p>HISTÓRICO</p>
      </div>

      <div class="icon-item" (click)="go('perfil')">
        <img src="https://dentistas.com.br/assets/perfil.png" alt="Meu Perfil">
        <p>PERFIL</p>
      </div>

      <div class="icon-item" (click)="go('config')">
        <img src="https://dentistas.com.br/assets/config.png" alt="Configuração">
        <p>CONFIG</p>
      </div>
      
      <div class="icon-item" (click)="go('config')">
        <img src="https://dentistas.com.br/assets/mail.png" alt="Configuração">
        <p>ANIVERSÁRIOS</p>
      </div>
            
      <div class="icon-item" (click)="go('config')">
        <img src="https://dentistas.com.br/assets/mail.png" alt="Configuração">
        <p>REVISÕES</p>
      </div>
            
      <div class="icon-item" (click)="go('config')">
        <img src="https://dentistas.com.br/assets/mail.png" alt="Configuração">
        <p>REATIVAÇÕES</p>
      </div>

      <div class="icon-item" (click)="go('config')">
        <img src="https://dentistas.com.br/assets/impressos.png" alt="Configuração">
        <p>RECEITAS</p>
      </div>
 
      <div class="icon-item" (click)="go('config')">
        <img src="https://dentistas.com.br/assets/impressos.png" alt="Configuração">
        <p>RECIBOS</p>
      </div>
            
            
      <div class="icon-item" (click)="go('config')">
        <img src="https://dentistas.com.br/assets/impressos.png" alt="Configuração">
        <p>ATESTADOS</p>
      </div>

      <!-- <div class="icon-item" (click)="go('usuarios')">
        <img src="https://dentistas.com.br/assets/usuarios.png" alt="Usuários">
        <p>USUÁRIOS</p>
      </div> -->


    </section>

  </div>
</div>