<div class="container">

  <!-- Header - Cabeçalho da página -->
  <div id="header">
    <img id="header_left" src="https://dentistas.com.br/assets/header_01.png" alt="Header Left"
      class="header-image left" />
    <img id="header_right" src="https://dentistas.com.br/assets/header_02.png" alt="Header Right"
      class="header-image right" />
  </div>

  <!-- Coluna 1: Conteúdo principal -->
  <div class="column column-left">

    <!-- Novo container para os ícones -->
    <section class="services-section icon-grid">

      <div class="icon-item" (click)="go('pacientes')">
        <img src="https://dentistas.com.br/assets/pacientes.png" alt="Pacientes">
        <p>PACIENTES</p>
      </div>

      <div class="icon-item" (click)="go('alunos')">
        <img src="https://dentistas.com.br/assets/alunos.png" alt="Alunos">
        <p>ALUNOS</p>
      </div>

      <!-- <div class="icon-item" (click)="go('indicador')">
        <img src="https://dentistas.com.br/assets/indicador.png" alt="Indicador">
        <p>INDICADOR</p>
      </div> -->

      <!-- <div class="icon-item" (click)="go('home')">
        <img src="https://dentistas.com.br/assets/mail.png" alt="Serviços">
        <p>SERVIÇOS</p>
      </div> -->
<!-- 
      <div class="icon-item" (click)="go('home')">
        <img src="https://dentistas.com.br/assets/impressos.png?v=2" alt="Configuração">
        <p>IMPRESSOS</p>
      </div> -->
<!-- 
            <div class="icon-item" (click)="go('home')">
              <img src="https://dentistas.com.br/assets/perfil.png" alt="Configuração">
              <p>PERFIL</p>
            </div> -->

      <!-- <div class="icon-item" (click)="go('home')">
            <img src="https://dentistas.com.br/assets/impressos.png" alt="Configuração">
            <p>CHATBOT INTELIGENTE</p>
          </div>
         -->

    </section>

        <section class="chatbots-section">
          Chatbots de I. A.<br>
                </section>
        <section class="chatbots-section">

          <section class="pills-section">
            <div class="pill-group">
        
              <a class="pill" href="https://dentistas.com.br/tutfop" target="_blank" rel="noopener">
                <span>Para dentistas</span>
              </a>
        
              <a class="pill" href="https://dentistas.com.br/tutfop" target="_blank" rel="noopener">
                <span>Para alunos</span>
              </a>
        
              <a class="pill" href="https://dentistas.com.br/tutfop" target="_blank" rel="noopener">
                <span>Para professores</span>
              </a>
        
            </div>
          </section>
          </section>


  </div>

  <!-- Coluna 2 -->
  <div class="column column-right">

    <app-chatbot></app-chatbot>

  </div>
</div>


<!-- <div class="icon-item" (click)="go('usuarios')">
                                  <img src="https://dentistas.com.br/assets/usuarios.png" alt="Usuários">
                                  <p>USUÁRIOS</p>
                                </div> -->

<!-- <div class="icon-item" (click)="go('equipe')">
                                  <img src="https://dentistas.com.br/assets/equipe.png" alt="Equipe">
                                  <p>EQUIPE</p>
                                </div> -->

<!-- <div class="icon-item" (click)="go('indicador')">
                                  <img src="https://dentistas.com.br/assets/fornecedores.png" alt="Dentais">
                                  <p>DENTAIS</p>
                                </div> -->

<!-- <div class="icon-item" (click)="go('fornecedores')">
                                  <img src="https://dentistas.com.br/assets/fornecedores.png" alt="Fornecedores">
                                  <p>FORNECEDORES</p>
                                </div> -->

<!-- <div class="icon-item" (click)="go('usuarios')">
                                  <img src="https://dentistas.com.br/assets/historico.png" alt="Usuários">
                                  <p>HISTÓRICO</p>
                                </div> -->

<!-- <div class="icon-item" (click)="go('perfil')">
                                  <img src="https://dentistas.com.br/assets/perfil.png" alt="Meu Perfil">
                                  <p>PERFIL</p>
                                </div> -->

<!-- <div class="icon-item" (click)="go('home')">
                                <img src="https://dentistas.com.br/assets/mail.png" alt="Configuração">
                                <p>REVISÕES</p>
                              </div> -->

<!-- <div class="icon-item" (click)="go('home')">
                                <img src="https://dentistas.com.br/assets/mail.png" alt="Configuração">
                                <p>REATIVAÇÕES</p>
                              </div> -->

<!-- <div class="icon-item" (click)="go('home')">
                                <img src="https://dentistas.com.br/assets/impressos.png" alt="Configuração">
                                <p>RECIBOS</p>
                              </div> -->

<!-- <div class="icon-item" (click)="go('home')">
                                <img src="https://dentistas.com.br/assets/impressos.png" alt="Configuração">
                                <p>ATESTADOS</p>
                              </div> -->

<!-- <div class="icon-item" (click)="go('usuarios')">
                                <img src="https://dentistas.com.br/assets/usuarios.png" alt="Usuários">
                                <p>USUÁRIOS</p>
                              </div> -->