@import '../../styles.scss';

/* Estilos já existentes */
section {
  text-align: center;
}


.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // gap: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 0px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  // gap: 10px;
}

.column-left,
.column-right {
  background-color: $white-color;
  padding: 10px;
  box-shadow: $box-shadow;
  border-radius: 8px;
  width: auto;
  /* Ambas as colunas ocupam 48% da largura da tela */
  min-width: 200px;
  /* Garante que as colunas tenham uma largura mínima */
  box-shadow: none;
  padding: 0px;
}

// .column-left {
//   width: 200px;
// }


/* Seção de Ícones (Novo Estilo) */
.icon-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  text-align: center;
  justify-content: space-between;

  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 70px;

    img {
      margin-right: 8px;
      width: 55px;
      height: 55px;
    }

    p {
      margin-top: 1px;
      // margin-bottom: 6px;
      font-weight: 500;
      color: $primary-color;
      font-size: 8px;
    }
  }
}



/* Seção de Chatbots */
.chatbots-section {
  background: white;
  margin: 0px;
  border-radius: 10px;
  padding: 1rem 1rem;
  font-size: medium;
  font-weight: 500;
  color: $primary-color;
  // width: 100%;

  .pills-section {
    background-color: unset;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    // justify-content: center;

    .pill {
      display: block;
      padding: 1px;
      background-color: $primary-color;
      color: white;
      font-size: 10px;
      text-align: center;
      border-radius: 8px;
      font-weight: 500;
      text-decoration: none;
      transition: background-color 2s;

      &:hover {
        background-color: $primary-color-dark;
      }
    }
  }
}


/* Seção de Serviços */
.services-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}



/* Ajuste responsivo */
@media screen and (max-width: 549px) {

  .column-left,
  .column-right {
    width: 100%;
    /* Colunas ocupam 100% da largura da tela em telas menores */
  }

  .chatbots-section {

    .pill-group {
      gap: 10px;

      // .pill {
      // padding: 8px 15px;
      // }
    }
  }
}

/* Nova regra de media query para colapsar a coluna apenas abaixo de 550px */
@media screen and (min-width: 550px) {
  .container {
    flex-direction: row;
  }
}


/* Estilos para o container do cabeçalho */
#header {
  position: relative;
  padding-top: 4px;
  padding-bottom: 2px;
  max-height: 50px;
  width: 100%;
  margin-top: 0px;
  border: 1px solid $light-grey;
  box-shadow: 0px 0px 6px $shadow-color;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/* Estilos para as imagens do cabeçalho */
.header-image {
  max-width: 40%;
  max-height: 47px;
  margin-right: 10px;
}


/* Material */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 20px;
}